<div class="form-container" style="position: relative;overflow: hidden">
    <!--Personal Information Start-->
    <form class="m-form "
          name="addEmployeeForm"
          [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)"
    >
        <div class="m-portlet__head m--padding-left-25">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <!--<span class="m-portlet__head-icon">-->
                    <!--<i class="flaticon-time"></i>-->
                    <!--</span>-->
                    <h3 class="m-portlet__head-text">
                        Change Password
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <button type="submit"
                           class="m-portlet__nav-link btn btn-primary m-btn m-btn--pill m-btn--air">
                            Save Changes
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="m-portlet__body">
            <div class="m-form--fit m-form--label-align-right m--margin-top-20 m--margin-bottom-20">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group m-form__group  m--margin-bottom-10">
                            <input name="password" class="form-control m-input"
                                   placeholder="New Password" type="password" formControlName="password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group m-form__group  m--margin-bottom-10">
                            <input name="confirm_password" class="form-control m-input"
                                   placeholder="Confirm Password" type="password" formControlName="confirm_password">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>