<div class="form-container" style="position: relative;overflow: hidden">
    <!--Personal Information Start-->
    <div class="m-portlet__head m--padding-left-25">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <!--<span class="m-portlet__head-icon">-->
                <!--<i class="flaticon-time"></i>-->
                <!--</span>-->
                <h3 class="m-portlet__head-text">
                    Change Avatar
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="#"
                       class="m-portlet__nav-link btn btn-primary m-btn m-btn--pill m-btn--air">
                        Save Changes
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m--margin-top-20 m--margin-bottom-20"
          name="addEmployeeForm"
          #addEmployeeForm="ngForm"
    >
    </form>

</div>